---
---

/** MOBILE STYLES HANNES MÜHLEISEN **/

$lightgrey: #F2F2F2;

@media only screen and (max-width: 1050px){
	div.sidebar{
		width: 250px;
	}
	div.main{
		width: calc(100% - 250px); 
	}
	div.sidebar .contact > div:first-child{
		display: none;
	}
}

@media only screen and (max-width: 920px){
	div.main header h1{
		width: 130px;
		line-height: 1;
	}
	div.main header{
		align-items: start;
	}
	div.main header nav ul{
		margin-bottom: unset;
		margin-top: 7px;
	}
}

@media only screen and (max-width: 850px){
	/**
	div.main header{
		display: block;
	}
	div.main header nav ul{
		margin-top: 15px;
	}
	div.main header nav ul a:first-child li{
		margin-left: 17px;
	}
	**/
	div.main,
	div.sidebar{
		padding: 15px;
	}
}

@media only screen and (max-width: 810px){
	div.main header h1{
		font-size: 49px;
		max-width: calc(100% - 100px);
	}
	div.main{
		width: 100%;
		main{
			padding-bottom: 100px;
		}
	}
	div.sidebar{
		display: none;
	}
	ul{
		li{
			list-style-image: url("data:image/svg+xml,%3Csvg width='13' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6.5' cy='6.5' r='6' stroke='%23000'/%3E%3C/svg%3E");
		}
	}
	.menutoggle{
		display: flex;
		height: 50px;
		width: 100px;
		justify-content: flex-end;
	}
	div.main header nav{
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $lightgrey;
		min-width: 260px;
		padding: 10px;
		height: calc(100% + 100px); /* Fallback for browsers that do not support Custom Properties */
		  //height: calc(var(--vh, 1vh) * 100);
		z-index: 5000;
		padding-top: 45px;
		transform: translateX(261px);
		transition: transform .3s;
		ul{
			display: block;
			margin-top: 20px;
			list-style-position: inside;
			li{
				margin-left: 0px;
				padding-bottom: 13px;
				padding-top: 14px;
				border-top: 1px solid #DADADA;
				font-size: 16.5px;
				&:hover, &.active{
					list-style-image: url("data:image/svg+xml,%3Csvg width='13' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6.5' cy='6.5' r='6.5' fill='%23000'/%3E%3C/svg%3E");
				}
			}
			a:last-child li{
				border-bottom: 1px solid #DADADA;
			}
		}
		&.active{
			transform: translateX(0);
		}
	}
	div.main header nav ul a:first-child li{
		margin-left: 0;
	}
	.contactmobile{
		display: block;
		position: absolute;
		font-size: 15px;
		bottom: 120px/** 20px + puffer px**/; 
		>div:first-child{
			width: 55px;
			img{
				width: 55px;
				height: auto;
			}
		}
		h3{
			font-size: 11px;
			font-weight: normal;
			text-transform: uppercase;
			margin-top: 15px;
			margin-bottom: 2px;
		}
		a{
			text-decoration: underline!important;
		}
		a + a{
			margin-left: 15px;
		}
	}
	.dim{
		display: block;
	}
	ul li.multiline{
		margin-bottom: 25px;
	}
	body{
		font-size: 16.5px;
	}
	h3, h2{
		color: #777777;
	}
	.footer ul a{
		display: none;
		&:first-child{
			display: block;
		}
	}
}

@media only screen and (max-width: 420px){
	div.main main{
		margin-top: 40px;
	}
	
}